.container {
  position: relative;
  z-index: 1;
}
.leftBtn.disabled, .rightBtn.disabled {
  opacity: 0.5;
}
button {
  background-color: rgba(192, 192, 192, 0.5);
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 3px;
}

button:hover {
  background-color: rgba(192, 192, 192, 0.5);
  border: 1px solid rgba(169, 169, 169, 0.5);
}
button:active {
  background-color: rgba(192, 192, 192, 0.5);
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 3px;
}
.curtains {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  z-index:9999;
}

.curtains img {
  height: 101%;
  width: 200%;
  transition: transform 1s ease;
  object-fit: cover;
}

.izq {
  transform: translateX(0);
}

.der {
  transform: translateX(0);
}
body{
  font-family: sans-serif;
  cursor:url('foto.png'), pointer;
}
.pags{
  margin-left:30px;
}
header{
  display:flex;
  justify-content:space-between;
}
header img{
  width:75px;
  margin-top:-7.5px;
}
input{
  width:110px;
  height:15px;
  font-size:7.5px;
  margin-right:4px;
  margin-top:7px;
}
button{
  height:15px;
  width:15px;
  font-size:10px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.btn{
  display: flex;
  gap:5px;
  flex-direction: row;
  margin-top:8px;
}
input:focus{
  outline:none;
}
.input{
  display: flex;
  flex-direction: row;
}
.indice{
  display: flex;
  flex-direction: row;
  font-size:5px;
  gap:2px;
  position: absolute;
  margin-top:-20px;
}
.indice:hover{
  cursor:pointer;
}
header img:hover{
  cursor:pointer;
}
i{
  margin-left:98px;
  position:absolute;
  margin-top:10.2px;
  font-size:8px;
}
.p{
  font-size:10px;
  text-align: center;
}

.container div:hover{
  box-shadow:1.5px 1.5px 3px 0.5px black;
  transform: scale(1.1);
}
.container div{
  background:#e1e1e1;
  transition:ease 250ms;
  border-radius:4px;
}
.container div img{
  width:75px;  
  text-align: center;
  border-radius:2px;
}
.container div p{
  width:75px;
  font-size:7.5px;
  text-align: center;
}
.container{
  display: flex;
  gap:10px;
  justify-content: center;
  flex-wrap: wrap;
}
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
